
.App-logo {
  height: 3rem;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  max-height: 50px;
  display: flex;
  padding: 0 16px;
  color: white;
  align-items: center;
}

.App-viewport {
  max-width: 1024px;
  padding: 16px;
  margin: 0 auto;
}